name: OIDC

on:
  workflow_call:
    inputs:
      role-arn:
        required: true
        type: string
      role-session-name:
        required: true
        type: string
      aws-region:
        required: true
        type: string

permissions:
  id-token: write
  contents: read
  pull-requests: write

jobs:
  plan:
    name: infra changes
    runs-on: ubuntu-latest
    steps:
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          role-to-assume: ${{ inputs.role-arn }}
          role-session-name: ${{ inputs.role-session-name }}
          aws-region: ${{ inputs.aws-region }}

      - name: Check AWS Access
        run: aws sts get-caller-identity
